# Disable directory browsing
Options -Indexes
<IfModule mod_rewrite.c>
	Options +FollowSymlinks
	RewriteEngine On    #untuk menjalankan process rewrite

	# Redirect Trailing Slashes...
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_URI} (.+)/$
	RewriteRule ^ %1 [L,R=301]

	# Rewrite "www.example.com -> example.com"
	RewriteCond %{HTTPS} !=on
	RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
	RewriteRule ^ http://%1%{REQUEST_URI} [R=301,L]

	# menghindari nama folder dan nama file sama dengan controller
	# jika request berupa folder kita abaikan
	# pndahkan semua yang ditulis di url ke $i, dan [L] jangan tulis kembali jika rule terpenuhi
	RewriteCond %{REQUEST_FILENAME} !-f     
	RewriteCond %{REQUEST_FILENAME} !-d     
  RewriteRule ^([\s\S]*)$ index.php?$1 [L] 
</IfModule>


<IfModule !mod_rewrite.c>
	# If we don't have mod_rewrite installed, all 404's
	# can be sent to index.php, and everything works as normal.
	ErrorDocument 404 index.php
</IfModule>

# Disable server signature start
	ServerSignature Off
# Disable server signature end
