body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  /* padding-bottom: 1rem; */
  bottom: 0;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
  z-index: 1500;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#mySidebar {
  left: 0;
  bottom: 0;
  top: 0;
  margin-top: 60px;
  position: fixed;
  width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  margin-right: 5px;
  padding-bottom: 25px;
}

#main {
  margin-left: 300px;
  margin-top: 60px;
  margin-bottom: 25px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  width: auto;
  scrollbar-width: thin;
}

.user-name {
  display: block;
}

.title-content {
  width: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*fro tablet*/
@media all and (max-width: 990px) {
  #mySidebar {
    margin-left: -300px;
    position: fixed;
    z-index: 1;
    left: 0;
    bottom: 0;
    top: 0;
    height: auto;
    margin-top: 60px;
    position: fixed;
    width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-right: 5px;
  }

  .user-name {
    display: none;
  }

  .title-content {
    width: auto;
  }
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.btn-circle.btn-lg {
  width: 40px;
  height: 40px;
  padding: 8px 4px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 20px;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

.border-left-primary {
  border-left: 3px solid #3b71ca !important;
}

.border-left-secondary {
  border-left: 3px solid #9fa6b2 !important;
}

.border-left-success {
  border-left: 3px solid #14a44d !important;
}

.border-left-danger {
  border-left: 3px solid #dc4c64 !important;
}

.border-left-warning {
  border-left: 3px solid #e4a11b !important;
}

.border-left-info {
  border-left: 3px solid #54b4d3 !important;
}

.selected {
  border-left: 2px solid #3b71ca;
  background-color: rgba(var(--bs-emphasis-color-rgb), 0.04);
  color: #3b71ca;
  width: 100%;
}

.paginate_button {
  z-index: 0 !important;
}

.nav-item a:hover {
  background-color: rgba(var(--bs-emphasis-color-rgb), 0.04);
  color: #3b71ca;
  width: 100%;
  margin: 0;
}

.cp-1 {
  padding: 2px !important;
}

/* sweet alet custom */
.swal-title {
  color: #3b71ca !important;
}

.swal-text {
  color: #6c757d !important;
}

.swal-button--confirm {
  background-color: var(--bs-blue);
}

.swal-button-container button:hover {
  background-color: #3b71ca !important;
}

.swal-footer {
  text-align: center !important;
}

/* select2 dark support */
.select2-search {
  background-color: var(--bs-body-bg) !important;
}
/* Change the appearence of the search input field */
.select2-search input {
  color: var(--bs-secondary) !important;
  background-color: var(--bs-body-bg) !important;
}

/* Change the appearence of the search results container */
.select2-results {
  background-color: var(--bs-body-bg) !important;
}

/* Change the appearence of the dropdown select container */
.select2-container--bootstrap-5 .select2-selection {
  border-color: var(--bs-secondary) !important;
  color: var(--bs-secondary) !important;
  background-color: var(--bs-body-bg) !important;
}

/* Change the caret down arrow symbol to white */
.select2-container--bootstrap-5 .select2-selection--single {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e") !important;
}

/* Change the color of the default selected item i.e. the first option */
.select2-container--bootstrap-5
  .select2-selection--single
  .select2-selection__rendered {
  color: var(--bs-secondary) !important;
}
